@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
	scroll-behavior: smooth;
	scroll-padding-top: 65px;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	padding: 20px;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f8f9fa;
}
