@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

html {
	scroll-behavior: smooth;
	scroll-padding-top: 65px;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-size: large;
	box-sizing: border-box;
	padding: 1;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body {
	padding: 20px;
}

.book-app {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.input-container-error > .p-float-label {
	border: solid 1px red;
	border-radius: 2px;
}
