html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

:root {
  --grey: #484444;
  --violet: #ad91a6;
  --pink: #dfb4aa;
  --green: #2e3c3d;
  --white1: #fefcfb;
  --white2: #ece8de;
  --background1: rgb(10, 3, 99);
  --background2: linear-gradient(22deg, rgba(10, 3, 99, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(125, 48, 48, 1) 100%);
  --text-gray: #adb9c7;
  --bg-electric: #f0fbff;
  --bg-azul-10: #e9eeff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
  color: var(--white1);
  background: var(--violet);
}